:root {
  --primary-color: #0f2bff;
  --second-color: #f5f5f5;
}

@font-face {
  font-family: archivo-black;
  src: url("fonts/ArchivoBlack-Regular.woff2");
}

section {
  height: 40vh;
  max-width: 40vw;
  display: flex;
  justify-self: flex-end;
  align-items: center;
  justify-content: flex-end;
  background: #0f2bff;  
  color: #f5f5f5;
}

h1 {
  font-family: archivo-black, system-ui, sans-serif; 
  font-size: clamp(3rem, 8vw, 6rem);
  font-weight: 700;
  overflow: hidden; 
}